.btn-custom {
    position: relative;
    z-index: 5;
    top: -55px;
    left: 285px;
}

.bg-maersk-primary {
    background-color: #00aed6;
}

.w-17 {
    width: 17.3% !important;
}

.d-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
